# IDE Specific Files and Folders
# ---------------------------------
.idea/
.project
.pydevproject
.settings/
_linux/
code.style.schemes.xml
debugger.xml
editor.codeinsight.xml
filetypes.xml
ide.general.xml
vcs.xml
codestyles/
.kateproject*
.vscode/

# Python Specific Files and Folders
# ---------------------------------
__pycache__/
*.pyc
*.pyo
.env

# Temporary and Backup Files
# ---------------------------------
*.*~
.*.swp
*.orig
*.rst

# Amber/Molecular Dynamics Files
# ---------------------------------
*.prmtop
*.binpos
*.traj
*.nc
*.dcd
*.pdb
*.dump

# Build and Distribution Files
# ---------------------------------
**/build/
**/dist/
**/*egg*
ves/

# Miscellaneous Files and Folders
# ---------------------------------
tags
.vimrc
tmux.sh
docs_spell.geany
pull_traj.sh

# Data Files and Folders (Large or Generated)
# ---------------------------------
valve_tests/
real_traj/