
*.prmtop
*.binpos
*.traj
*.nc
*.dcd
*.pdb
*.dump
*.pyc
*.pyo
*.orig
*.*~
.*.swp

.project
.pydevproject
.idea
.settings
_linux
code.style.schemes.xml
debugger.xml
editor.codeinsight.xml
filetypes.xml
ide.general.xml
vcs.xml
codestyles
.kateproject*

valve_tests
real_traj

docs_spell.geany
pull_traj.sh



docs/build
src/build
src/dist
src/*egg*
ves
tags
.vimrc