
*.prmtop
*.binpos
*.traj
*.nc
*.dcd
*.pdb

*.dump

*.pyc
*.pyo

*.orig

*.*~

.project
.pydevproject
.idea
.settings
_linux
code.style.schemes.xml
debugger.xml
editor.codeinsight.xml
filetypes.xml
ide.general.xml
vcs.xml


valve_tests
real_traj

docs_spell.geany
pull_traj.sh

docs/build

