*Pond* manual
==============

*Pond* application is a driver that uses :mod:`aquaduct` module to perform further analysis of results from *Valve* calculations.

*Pond* can calculate pockets present in the protein and free energy profiles of :ref:`master_paths_manual`.


*Pond* invocation
------------------

Once :mod:`aquaduct` module is installed (see :doc:`../aquaduct_install`) properly on the machine, *Pond* is available as ``pond.py`` command line tool.

Usage
^^^^^

Basic help of *Pond* usage can be displayed by following command::

    pond.py --help

It should display following information::

HELP

Options common with *Valve*
^^^^^^^^^^^^^^^^^^^^^^^^^^^

All options related to Molecular Dynamic simulation data, configuration file, and threads have the same meaning as in *Valve*.

For detailed explanation of the following options see :doc:`../valve/valve_manual`:

* ``-c CONFIG_FILE`` Config file filename. (default: None)
* ``-t THREADS`` Limit Aqua-Duct calculations to given number of threads. (default: None)
* ``--max-frame MAX_FRAME`` Maximal number of frame. (default: None)
* ``--min-frame MIN_FRAME`` Minimal number of frame. (default: None)
* ``--step-frame STEP_FRAME`` Frames step. (default: None)
* ``--sandwich`` Sandwich mode for multiple trajectories. (default: False)
* ``--cache-dir CACHEDIR`` Directory for coordinates caching. (default: None)


*Pond* calculations options
^^^^^^^^^^^^^^^^^^^^^^^^^^^

Other options are used to setup *Pond* calculations and are described below.

Pockets
-------

Pockets are calculated by analysis of paths found by *Valve*. A regular grid is constructed
spanning all paths. Grid size by default is 1 Å and can be altered with ``--gsize`` option.

.. note::

    As for now, it is recommended that multiplicative inverse of grid size is an integer number.
    Therefore, grid size can be safely set to 1, 0.5, 0.25, 0.1 etc.

Next, number of paths crossing each of the grid cells is calculated over the entire trajectory and
divided by the number of frames. This gives averaged density of traced molecules.

Cells with null density are removed from the grid and resulted shape corresponds to maximal area
penetrated by traced molecules.

Inner pocket
^^^^^^^^^^^^

Distribution of denisites in the grid has strong positive skew.

Outer pocket
^^^^^^^^^^^^

Hot-spots
---------

Energy profiles
---------------


